# Vercel Postgres URL (Get this from the Vercel Storage Dashboard)
POSTGRES_URL="postgres://user:password@host/database"

# Vercel Blob Token
BLOB_READ_WRITE_TOKEN="seu_token_da_vercel_blob_aqui"

# Admin Password
SENHAADM="sua_senha_de_admin_aqui"
